@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

html, body {
  margin: 0;
}

.App {
  --main-blue: #004B89;
  --light-blue: #F3F8FC;
  --light-gray: #F3F3F3;
  font-family: 'Nunito', sans-serif;
  /* margin: 0; */
}

.mainApp {
  display: flex;
  background: var(--light-blue);
}

.mainApp > div:nth-child(3) {
  /* border: 1px solid red; */
  margin-left: 260px;
  /* margin-top: 7vh; */
  /* margin-bottom: 7vh; */
  min-height: 100vh;
  width: 100%;
}

.primary-btn {
  background-color: var(--main-blue)!important;
  border: none !important;
}

.Dashboard .SmallSpinner{
  margin-left: 35%;
  margin-top: 20%;
}

.bold {
  font-style: bold;
}

.CouponList {
  display: flex;
  flex-wrap: wrap;
}

.CouponList .CouponCard {
  margin: 10px;
}

.CouponCard {
  width: 300px;
}

.logout-link {
  cursor: pointer;
}

.CouponCard button {
  margin: 5px 0px;
}

.modal-heading {
  font-weight: bolder;
}

.modal-logo {
  max-width: 60%;
  margin-left: 20%;
  margin-bottom: 20px;
}

.modal-card {
  margin: 15px;
}

.bold {
  font-weight: bolder;
}

.AdminPanel {
  margin: 7vh 2vw;
}
.AdminPanel .list-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.modal-form {
  padding: 25px;
}

.offer-formgroup {
  background: #f2f2f2;
  border-radius: 5px;
  margin: 10px 0;
  padding: 15px;
}

.uppercased-subtitle h3{
  text-transform: uppercase;
  font-size: 18px;
  line-height: 27px;
  color: #8D8D8D;
}

@media only screen and (max-width: 600px) {
  .mainApp > div:nth-child(3) {
    margin-left: 0;
    /* margin-top: 8vh; */
  }
}

