.Profile {
    margin: 5vh 2vw;
}

.Profile .settings-btn {
    float: right;
}

.Profile .SmallSpinner {
    margin-left: 35vw;
    margin-top: 30vh;
}

@media only screen and (max-width: 960px) {
    .Profile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}