.SavedCards {
    display: flex;
    flex-wrap: wrap;
    margin: 0 10px;
}

.SearchSaved input {
    background: url('../../../assets/search.svg') no-repeat 20px 15px;
    background-color: #FFF;
    border: none;
    border-radius: 10px;
    padding: 14px 14px 14px 58px;
    outline: none;
    margin: 10px 20px; 
    width: 70%;
    transition: box-shadow 0.1s ease-in;
}
.SearchSaved input:focus {
    box-shadow: 0 0 0 2px #BDD9F0;
}
.SavedOffers h1 {
    margin: 10px 20px;
}

.SavedOffers .SmallSpinner {
    margin-left: 35vw;
    margin-top: 30vh;
}

.SavedOffers .placeholder {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.SavedOffers .placeholder h1 {
    font-size: 37px;
    line-height: 50px;
    color: #999999;
}

.SavedOffers .placeholder p {
    line-height: 27px;
    text-align: center;

    color: #999999;
}

.SavedOffers .placeholder img {
    width: 35vw;
}

@media only screen and (max-width: 750px) {
    .SearchSaved .filter-btn {
        margin-left: 20px;
    }
}

@media only screen and (max-width: 600px) {
    .SavedOffers {
        margin-top: 60px;
    }

    .SavedOffers h1 {
        font-size: 30px;
    }

    .SearchSaved input {
        background: url('../../../assets/search.svg') no-repeat 10px 9px;
        background-color: #FFF;
        border: none;
        border-radius: 10px;
        padding: 9px 14px 9px 48px;
        outline: none;
        margin: 10px 20px; 
        width: 83%;
    }

}