.Profile .SavedOffers {
    margin: 5vh 5vw;
}

.Profile .SavedOffers .card {
    border: 3px solid rgba(0, 0, 0, 0.0991848);
    background-color: transparent;
    border-radius: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 260px;
    padding: 0 10px;
    margin: 10px;
}

.Profile .SavedOffers .card p {
    font-size: 22px;
    color: #C1C1C1;
    text-align: center;
}

.Profile .SavedOffers a:hover {
    text-decoration: none;
}

.Profile .SavedOffers .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.Profile .SavedOffers h3 {
    margin-left: 20px;
}

.Profile .SavedOffers .Card {
    margin: 10px;
}

@media only screen and (max-width: 950px) {
    .Profile .SavedOffers {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .Profile .SavedOffers .cards {
        justify-content: center;
    }
}