.SavedOffers {
    margin: 5vh 5vw;
}

.SavedOffers .card {
    border: 3px solid rgba(0, 0, 0, 0.0991848);
    background-color: transparent;
    border-radius: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 260px;
    padding: 0 10px;
    margin: 20px;
}

.SavedOffers .card p {
    font-size: 22px;
    color: #C1C1C1;
    text-align: center;
}

.SavedOffers a:hover {
    text-decoration: none;
}

.SavedOffers .cards {
    display: flex;
}

.SavedOffers h3 {
    margin-left: 20px;
}