@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&display=swap');

.LoginPage {
    display: flex;
    flex-direction: row;
    font-family: 'Nunito Sans', sans-serif;
    min-height: 100vh;
}

.reg-left, .login-right {
    width: 50%;
}

.reg-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.reg-left .systems p {
    font-size: 13px;
}

.reg-left .logo {
    margin-top: 10%;
    width: 50px;
}

.reg-left .logo {
    margin-bottom: 25px;
}

.reg-left .systems {
    margin-top: 25px;
    width: 50%;
}

.reg-left.Signup  .systems{
    margin-top: 0;
    margin-bottom: 25px;
}

.reg-left .systems img {
    margin: 0;
    width: 100px;
}

.reg-left .steps {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.login-right {
    background-color: var(--main-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-right img {
    width: 73%;
    margin-top: -10vh;
}

.login-right h1 {
    color: white;
    font-weight: 500;
    margin-top: 5vh;
    padding:0;
    z-index: 2;
    
}

.underline-text {
    font-size: 30px;
}

.underline-text:after {
    content: '';
    width: 60px;
    height: 4px;
    background: var(--main-blue);
    position: absolute;
    margin-top: 34px;
    left: 25%;
  }

  #login-btn {
      margin-top: 10%;
  }

  .LoginPage .Button {
      font-family: 'Nunito Sans', sans-serif;
      font-weight: 600;
  }

  .temp-menu {
      margin: 20px;
  }
  .temp-menu a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    margin: 10px 20px;
    font-size: 18px;
  }