.Categories {
    margin-top: 10px;
    width: 70vw;
    position: relative;
}

.Categories button {
    border: none;
    background-color: var(--light-blue);
    position: absolute;
    top: 2px;
    color: #AEAEAE;
    font-size: 25px;
    font-style: bolder;
}

.Categories .scrollLeft {
    left: 10px;
}

.Categories .scrollRight {
    right: 10px;
}

/* Hide scrollbar on Chrome, Safari */
.Categories form::-webkit-scrollbar {
    display: none;
  }

.Categories form {
    -ms-overflow-style: none;  /* IE and Edge scrollbar */
    scrollbar-width: none;  /* Firefox scrollbar */
    max-width: 90%;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin-left: calc(2vw + 15px);
    padding-right: 10px;
}

.Categories .form-group {
    margin: 0 8px;
    padding: 2px;
}

.Categories .form-group input {
    display: none;
}

.Categories .form-group label {
    text-transform: capitalize;
    white-space: nowrap;
    padding: 8px 30px;
    border-radius: 40px;
    background: #FFF;
    font-weight: 600;
    font-size: 18px;
    color: #9E9E9E;
    filter: drop-shadow(0px 1px 4px rgba(0, 48, 88, 0.168818));
    transition: 0.1s all ease-in;
    cursor: pointer;
}

.Categories .form-group.selected label {
    color: #FFF;
    background: var(--main-blue);
}


@media only screen and (max-width: 950px) {
    .Categories {
        width: 65vw;
    }

    .Categories .form-group label {
        padding: 5px 20px;
        border-radius: 40px;
        font-size: 15px;
    }

    .Categories .form-group {
        margin: 0 3px;
        padding: 2px;
    }

    .Categories button {
        top: 2px;
        font-size: 18px;
    }
    
    .Categories .scrollLeft {
        left: 1.5vw;
    }
    
    .Categories .scrollRight {
        right: 6vw;
    }

    .Categories form {
        max-width: 75%;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        margin-left: calc(2vw + 20px);
        /* padding-right: 10px; */
    }
}


@media only screen and (max-width: 600px) {
    .Categories form {
        max-width: 80vw;
        width: 80vw;
    }
}