.SearchBar {
    /* border: 1px solid red; */
    width: 100%;
    border: none;
    border-bottom: 1px solid #DBDADA;
}

.SearchBar input {
    background: url('../../../assets/search.svg') no-repeat 30px 20px;
    border: none;
    
    background-color: transparent;
    height: 60px;
    padding: 6px 175px 6px 77px;
    width: 100%;
    border: none;
    outline: none; /*TODO: MUST be fixed!*/
    border: none;
    transition: box-shadow 0.1s ease-in;
}

.SearchBar input:focus {    
    box-shadow: 0 0 0 2px #BDD9F0;
}

.SearchBar input::placeholder {
    color: #9F9E9E;
}

/* .filter-btn {
    background: url('../../../assets/filter.svg') no-repeat 65px 10px;
    
    color: #9F9E9E;
    height: 33px;
    padding: 5px 43px 5px 17px;
    border: 1.5px solid #D3D3D3;
    border-radius: 3px; 
    background-color: transparent;
    font-size: 16px;
} */

.SearchBar .FilterButton {
    position: absolute;
    top: 10px;
    right: 20px;
}

@media only screen and (max-width: 850px) {
    .SearchBar {
        /* width: 95%; */
    }
}

@media only screen and (max-width: 600px) {
    .SearchBar {
        /* width: 60%; */
        border: none;
        display: flex;
        justify-content: flex-end;
    }


    .SearchBar input {
        margin: 12px 7vw 0 0;
        background: url('../../../assets/search.svg') no-repeat 20px 12px;
        background-color: #FFF;
        height: 45px;
        padding: 0 10px 0 60px;
        border-radius: 25px;
        width: 60%;
        border: none;
        outline: 0; /*TODO: MUST be fixed!*/
    }


    .SearchBar .FilterButton {
        display: none;
    }
}

@media only screen and (max-width: 400px) {
    .SearchBar input {
        background: url('../../../assets/search.svg') no-repeat 10px 12px;
        background-color: #FFF;
        padding: 0 10px 0 40px;
    }
}